/*
* MENU ASIDE
*/
/* especificação */
.classesPai .classeFilho {}

/* agrupmento */
.classesPai, .classeFilho {}

/* só que as que tem as duas classes no mesmo elemento */
.classesPai.classeFilho {}


.main__content__aside__Menu {
    float: left;
    width: 20%;
    background-color:#ace46b;
}

.main__content__aside__Menu--link {
    display: block;
    padding: 1%;
    font-size: 1.4em;
}

.main__content__aside__Menu--link:hover {
    display: block;
    background-color: aliceblue;
}

.main__content__aside__Menu ul {
    border: 1px solid red;
    border-top: 0;
}

.main__content__aside__Menu li{
    border-bottom: 1px solid red;
}

.main__content__aside__Menu li:last-child{
    border-bottom: 0;
}
